In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('E:/car model listing/car_data2.csv')
data.head()

,Unnamed: 0,vin,listing_price,listing_mileage,car
0,1,3GTP1NEJ7HG400459,32999.0,99697.0,2017 GMC Sierra 1500
1,2,1B7HF13Z1XJ596452,6495.0,171168.0,1999 Dodge Ram Pickup 1500
2,5,JM1DKDB74M1500563,24999.0,15854.0,2021 Mazda CX-3
3,8,WAUKF78P99A015926,10990.0,100321.0,2009 Audi A3
4,9,1C4BJWEGXEL210903,22995.0,142650.0,2014 Jeep Wrangler Unlimited

In [7]:
data['car']=data['car'].str.replace(',',"")
data['car']=data['car'].str.replace('*',"")
data.head()
data.to_csv('car_data3.csv')

C:\Users\AKHIL TEJA REDDY Y\AppData\Local\Temp\ipykernel_14516\3202665767.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['car']=data['car'].str.replace('*',"")